{% extends 'base.html' %}
{% load bootstrap4 %}
{% load article_extras %}
{% load mathfilters %}

{% block title%}
{% endblock %}

{% block content %}

  {% for article in articles %}
  <div class="card m-auto rounded-0" style="width: 40rem;">
  <div class="card-header d-flex justify-content-between bg-white"> 
    <h5 class="card-title"><a href="{% url 'profile' article.user.username %}" class="text-dark text-decoration-none"><strong>{{ article.user.username }}</strong></a> </h5>
    
    {% if user.username == article.user.username %}
    <div class="btn-group dropright">
      <button class="btn shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='fas fa-ellipsis-h text-secondary'></i>
      </button>
    <div class="dropdown-menu" >
      <a class="dropdown-item" href="{% url 'articles:update' article.pk %}"><strong>Edit</strong></a>
      <button class="dropdown-item" id="delete_btn" href="#" data-id= "{{article.pk}}" data-toggle="modal" data-target="#deleteModal"><strong>Delete</strong></button>
    </div>
    </div>
    {% endif %}
  </div>

  {% include '_deletemodal.html'%}

  <div class="card-body ">
    <img src="{{article.image_thumbnail.url}}" class="d-block m-auto pb-2"/>
  <div>
    <span>{% include 'articles/like.html'%}</span>
    <span><a href="{% url 'articles:comments' article.pk %}"><i class="far fa-comment text-secondary" style='font-size:27px'></i></a></span>
  </div>
    <p> 
      {% if article.liked_users.count >= 2 %}
        Liked by {{article.liked_users.first }} and {{article.liked_users.count|sub:1}} others
      {% elif article.liked_users.count == 1 %}
        Liked by {{article.liked_users.first }}
      {% else %}

      {% endif %}

    </p>
    <h5 class="card-title">{{article.title}}</h5>
    <p>{{article|add_link|safe|linebreaksbr}}</p>
    <p><small>{{ article.created_at|date:'Y-m-d H:i' }}</small></p>
  </div>
  </div>

  {% empty %}
  <h3 class="text-center pt-5 mb-3">There is no post!</h3>
  <p class="text-center pb-2">Upload your first gram-gram photo today.</p>
  <a class="btn btn-warning text-white d-block w-25 m-auto" href="{% url 'articles:create' %}" style='font-size:22px;'><strong>Write a Post</strong> </a>


  {% endfor %}

{% endblock %}