<!-- Delete Modal!! -->
                    <form class='d-inline' action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="modal fade" id="commentdeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header w-100">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center mt-2 mb-3">
                        <h4 class="modal-title mb-3" id="exampleModalLabel">Are you sure?</h4>
                            Do you really want to delete your comment? <br>
                            This process cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger text-white"> Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    </form>
