<!-- followersModal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-auto pl-4"  id="exampleModalLongTitle">Followers</h5>
          <button type="button" class="close mx-0 px-1 " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for follower in person.followers.all %}
           <div class="d-flex justify-content-between">
            <p class="ml-1" style="font-size: 1.1rem">
              <a href="{% url 'profile' follower.username %}" class="text-decoration-none text-reset">
                <img src="{{follower.gravatar_url}}" class="rounded-circle mr-1" height="30" width="30" /> {{ follower.username }}</p>
              </a>
            <p>
                <a href="{% url 'follow' follower.username %}" class="d-block m-auto btn btn-warning text-white"> 
                    <strong>
                    {% if follower in person.followers.all %}
                        Following
                    {% else %}
                        Follow
                    {% endif %}
                    </strong>
                </a>
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>