
<nav class="navbar navbar-expand-md navbar-light bg-white border border-left-0 border-right-0 border-top-0 border-secondary sticky-top py-1" >
  <a class="navbar-brand" href="{% url 'root' %}"><strong class="text-dark">Gram-gram</strong></a>
  <form class="ml-5 pl-5" action="{% url 'articles:search' %}" method="POST" style="width: 400px">
  {% csrf_token %}
    <input class="form-control pl-3 ml-5 mr-sm-2" name="keyword"type="search" placeholder='Search by hashtag (#)' aria-label="Search by hashtag">
  </form>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-dark "><i class="fas fa-bars" style="color:#fff; font-size:25px;"></i></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0 p-2">
     {% if user.is_authenticated %}

     <li><img src="{{request.user.gravatar_url}}" class="rounded-circle" height="50" width="50"/></li>
      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='font-size:22px;'>
          Hello, {{user.username}}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item"  style='font-size:22px;'><a href="{% url 'profile' user.username %}" class="text-decoration-none">Profile</a></button>
          <button class="dropdown-item"  style='font-size:22px;'><a href="{% url 'accounts:logout' %}" class="text-decoration-none text-danger">Log-out</a></button>
        </div>
      </li> 
       <li class="nav-item mx-2">
        <a class="nav-link text-dark" href="{% url 'articles:create' %}" style='font-size:22px;'>Write a Post </a>
      </li>
      {% else %}
      <li class="nav-item active mx-2">
        <a class="nav-link text-dark" href="{% url 'accounts:login' %}" style='font-size:22px;'>Log-in<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active mx-2">
        <a class="nav-link text-dark" href="{% url 'accounts:signup' %}" style='font-size:22px;'>Join<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
    </div>
</nav>


