
<nav class="navbar navbar-expand-md navbar-dark bg-success border border-left-0 border-right-0 border-top-0 border-white py-1 mb-5" >
  <a class="navbar-brand" href="{% url 'root' %}"><strong class="text-white">Gram-gram</strong></a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-dark "><i class="fas fa-bars" style="color:#fff; font-size:25px;"></i></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0 p-2">
     {% if user.is_authenticated %}
      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='font-size:22px;'>Hello, {{user.username}}!</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item"  style='font-size:22px;' data-toggle="modal" data-target="#profileModal">Profile</button>
          <button class="dropdown-item"  style='font-size:22px;'><a href="{% url 'accounts:logout' %}" class="text-decoration-none">Log-out</a></button>
        </div>
      </li> 
       <li class="nav-item mx-2">
        <a class="nav-link text-white" href="{% url 'articles:create' %}" style='font-size:22px;'>Write a Post </a>
      </li>
      {% else %}
      <li class="nav-item active mx-2">
        <a class="nav-link text-white" href="{% url 'accounts:login' %}" style='font-size:22px;'>Log-in<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active mx-2">
        <a class="nav-link text-white" href="{% url 'accounts:signup' %}" style='font-size:22px;'>Join<span class="sr-only">(current)</span></a>
      </li>
      
      {% endif %}
     
    </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">{{user.username}}'s Profile</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mt-4">First name: <strong>{{user.first_name}}</strong></p>
        <p>Last name: <strong>{{user.last_name}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
            <a href="{% url 'follow' user.username %}">Follow</a>
            <p>{{ user.followers.all|length}} followers</p>
      </div>
    </div>
  </div>
</div>